<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/newsletter</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"/>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.connection.autocommit">true</property>
		<!-- validate | update | create | create-drop -->
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		
		<mapping resource="com/newsletter/model/Abonnees.hbm.xml" />
		<mapping resource="com/newsletter/model/Compteur.hbm.xml" />
		<mapping resource="com/newsletter/model/EmailsTest.hbm.xml" />
		<mapping resource="com/newsletter/model/Hacker.hbm.xml" />
		<mapping resource="com/newsletter/model/IpToCountry.hbm.xml" />
		<mapping resource="com/newsletter/model/NewsLetters.hbm.xml" />
		<mapping resource="com/newsletter/model/NewsLettersMail.hbm.xml" />
		<mapping resource="com/newsletter/model/Users.hbm.xml" />
	</session-factory>
</hibernate-configuration>
